@model Class_Manager.Models.Course

@{
    ViewBag.Title = "Course Details";
}

<h2>Course Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        </br>

        <dt>
            @Html.Label("Class work")
        </dt>
        
        <dd>
            @foreach (Class_Manager.Models.ClassWork item in ViewBag.classwork)
            {
                <p>@Html.ActionLink(item.ClassWorkName, "Grades", new { id = item.ClassWorkId})</p>
            }
        </dd>
    </dl>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Add Class Work", "Classwork", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index") 
</p>
