@model Class_Manager.ViewModels.GradeViewModel
@{
    ViewBag.Title = "Grades";
}
<h2>@Model.CourseName</h2>
<h3>Grades -@Model.ClassWorkName </h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.Label("Student")
            </th>
            <th>
                @Html.Label("Marks Obtained")
            </th>
            <th>
                @Html.Label("Maximum Marks")
            </th>
            <th>
                @Html.Label("Comments")
            </th>
        </tr>

        @for(int i=0; i< Model.Grades.Count; i++)
        {
            <tr>
                <td>
                    @Html.ActionLink(Model.Grades[i].LastName+","+ Model.Grades[i].FirstName,"Details", "Student",new { id= Model.Grades[i].StudentId},null)
                </td>
                <td>
                    @Html.EditorFor(model => model.Grades[i].Marks)
                </td>
                <td>
                    @Html.Label(Model.MaxMarks)
                </td>
                <td>
                    @Html.EditorFor(model => model.Grades[i].Comment)
                </td>
                @Html.HiddenFor(model => model.Grades[i].StudentId)
                @Html.HiddenFor(model => model.Grades[i].LastName)
                @Html.HiddenFor(model => model.Grades[i].FirstName)
                @Html.HiddenFor(model => model.Grades[i].ClassWorkId)
                @Html.HiddenFor(model => model.Grades[i].GradeId)
                @Html.HiddenFor(model => model.Grades[i].ClassWorkName)
                @Html.HiddenFor(model => model.Grades[i].CourseName)

            </tr>
        }

        @Html.HiddenFor(model => model.CourseId)
        @Html.HiddenFor(model => model.CourseName)
        @Html.HiddenFor(model => model.ClassWorkId)
        @Html.HiddenFor(model => model.ClassWorkName)
        @Html.HiddenFor(model => model.MaxMarks)

    </table>
    <div class="form-group">
        <div>
            <input type="submit" value="Update" class="btn btn-success" />
        </div>
    </div>
}


